/* ==========================================================================
Abstracts - Typography
========================================================================== */

/* === Font Import === */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/* === Defaults === */
$ff-primary: 'Raleway', sans-serif;
$ff-secondary: 'Open Sans', sans-serif;

/* === Font Size === */
$font-size-heading: clamp(1.5rem, 2vw, 3rem);
$font-size-subheading: 1rem, 2vw, 2.5rem;     
$font-size-paragraph: 1rem, 1vw, 2.5rem;
$font-size-button: 1rem, 1.2vw, 2rem;
$font-size-icon: 1.5rem, 3vw, 3rem;
