.contact {
    @include flex(column, center);
    min-height: 82vh;
    color: $light;

    h2 {
        text-align: center;
    }

    p {
        margin: 5rem;
    }

    a {
        color: rgb(186, 183, 183);

        &:hover {
            color: $teal;
        }
    }
}