footer {
    @include flex(column, center);
    color: $light;
    background-color: $dark;
    padding: .5rem;
    bottom: 0;
    width: 100%;

    p {
        font-size: .7rem;
    }
}

.footer-links {
    @include flex(row, evenly);
}

.footer-icon {
    height: 3rem;
    width: 3rem;
    margin: .5rem;

    &:hover {
        transform: translateY(-2px);
      }
}