.home {
    @include flex(column, center);
    height: 100vh;
    margin-bottom: 2rem;
    padding: 0;
    position: relative;
}

.mountain {
  z-index: 2;
  min-width: 100vw;
  height: 130vh;
  position: absolute;
  left: 0px;
  bottom: -25px;
  // background: linear-gradient(black, white);
}

.about-header {
  color: white;
  margin: 0rem 0rem -3.4rem 3rem;
  place-self: baseline; 
  font-size: 5rem;
  font-family: 'Parisienne', cursive;
  z-index: 2;
}

  .headshot-and-bio {
    @include mediaQueries(about);
    @include flex(row, center, start);
    background-color: rgba(247, 213, 184, 0.892);
    box-shadow: $box-shadow;
    padding: .5rem;
  }

  .headshot {
    @include flex(column, center);

    img {
      height: auto;
      max-width: 15rem;
      box-shadow: $box-shadow;
    }

    a {
      margin: 0;
      padding: 0;
    }
  }

  .bio-details {
    margin: .5rem;
  }

  .bio-text {
      color: black;
      padding: 1rem 2rem 0rem 2rem;
  }

  .bio-btns {
    @include flex(row, end);

  }

  .bio-btn {
    @include flex(row, center);
    margin: 1rem 1rem 0rem 1rem;
    color: black;
    height: 2rem; 
    width: 7rem; 

    &::after {
      background: white;
    }
  
    &:hover {
      background: rgb(22, 55, 55);
      color: white;
      text-decoration: none;
  
      &::after {
        width: 100%;
      }
    }
  }


.tech-container{
  height: 25vh;
  min-height: 20vh;

  button {
    color: white;
    border: none;
  }
}
  
  .tech-icons {
    @include flex(row, space-evenly);
    margin: 1rem;
  }

.tech-specs {
  text-align: center;
  font-family: $ff-secondary;
}
  
  

  