.home {
    @include flex(column, center);
    height: 100vh;
    margin-bottom: 2rem;
    padding: 0;
    position: relative;
}

canvas {
  position: absolute !important;
}

.logo {
  z-index: 3;
  position: absolute;
  left: -10px;
  top: 363px;
}

.mountain {
  z-index: 2;
  min-width: 100vw;
  height: 150vh;
  position: absolute;
  left: 0px;
  bottom: -25px;
}

.about-header {
  color: $light;
  margin: 0rem 0rem -3.4rem 3rem;
  place-self: baseline; 
  font-size: 5rem;
  font-family: 'Parisienne', cursive;
  z-index: 2;
}

.headshot-and-bio {
  @include mediaQueries(about);
  @include flex(row, center, flex-start);
  background-color: $peach;
  box-shadow: $box-shadow;
  padding: .5rem;
}

.headshot {
  @include flex(column, center);

  img {
    height: auto;
    max-width: 15rem;
    box-shadow: $box-shadow;
  }

  a {
    margin: 0;
    padding: 0;
  }
}

  .bio-details {
    margin: .5rem;
  }

  .bio-text {
      color: $dark;
      padding: 1rem 2rem 0rem 2rem;
  }

  .bio-btns {
    @include flex(row, flex-end);
  }

  .bio-btn {
    @include flex(row, center);
    margin: 1rem 1rem 0rem 1rem;
    color: $dark;
    height: 2rem; 
    width: 7rem; 
  }


.tech-container{
  height: 18vh;
  min-height: 16vh;

  button {
    color: $light;
    border: none;

    &:hover {
      background: none;
    }
  }
}
  
.tech-icons {
  @include flex(row, space-evenly);
  margin: 1rem;
}

.tech-specs {
  text-align: center;
}
  
  

  