.home {
  @include flex(column, center);
  height: 100vh;
  margin-bottom: 2rem;
  padding: 0;
  position: relative;
}

canvas {
  z-index: 2 !important;
  position: absolute !important;
}

.logo {
  @include mediaQueries(logo);
  z-index: 3;
  top: 0;
  width: 35rem;
}

.mountain {
  @include mediaQueries(mountain);
  z-index: 1;
  min-width: 100vw;
  height: 150vh;
  position: absolute;
  left: 0px;
  bottom: -25px;
}

.mountain:after {
  content:""; 
  position: absolute; 
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  height: 40%;  
}

.about-header {
  @include flex(row, center);
  place-self: baseline; 
}

.about-text {
  color: $light;
  margin: 0rem 0rem -3.4rem 4rem;
  font-size: 5rem;
  font-family: 'Parisienne', cursive;
  z-index: 2;
}

.headshot-and-bio {
  @include mediaQueries(about);
  @include flex(row, center, flex-start);
  background-color: $peach;
  box-shadow: $box-shadow;
  padding: .5rem;
}

.headshot {
  @include flex(column, center);

  img {
    height: auto;
    max-width: 15rem;
    box-shadow: $box-shadow;
  }

  a {
    margin: 0;
    padding: 0;
  }
}

  .bio-details {
    margin: .5rem;
  }

  .bio-text {
    color: $dark;
    padding: 1rem 2rem 0rem 2rem;
  }

  .bio-btns {
    @include flex(row, flex-end);
  }

.tech-container {
  @include flex(row, center);
  @include mediaQueries(tech);
  width: 100vw;
  margin: 0rem;

  article {
    @include flex(column, center);
    background: $light;
    text-align: center;
    width: 80%;
    height: 100%;
    min-height: 20rem;
    margin: 0.8rem;    
    box-shadow: $box-shadow;
  }
}

.tech-content {
  padding: .5rem;
  margin: .5rem;
  text-align: left;
  font-family: $ff-secondary;
  font-size: $font-size-paragraph;
}

.tech-header-container {
  @include flex(column, center);
  border-bottom: 1px solid $dark-grey;
  margin: 0rem 0rem .5rem 0rem;
}

.tech-header-sub-text {
  padding: 0rem .5rem 0rem .5rem;
}

.fe-be, .design-workflow {
  @include flex(row, center);
  @include mediaQueries(card);
  margin: 0rem;
}

.emoji {
  font-size: 45px;
  animation-name: wave-animation; 
  animation-duration: 2.5s;       
  animation-iteration-count: 2; 
  transform-origin: 70% 70%;  
  display: inline-block;
  @keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}
}




  