.nav {
    @include flex(row, space-between);
    @include mediaQueries(nav);
    background: none;
    position: sticky;
    top: 0;
    height: 4rem;
    transition: all .2s ease-out;
    z-index: 5;
}

.nav-active {
    @include flex(row, space-between);
    @include mediaQueries(nav);
    background: none;
    position: sticky;
    top: 0;
    height: 4rem;
    background: rgba(100, 100, 100, 0.5);
    transition: all .2s ease-in;
    z-index: 5;
}

.nav-links {
  // margin: 1rem;
}
.navbtn {
    margin: 1rem;
    color: white;
    border: none;
    display: inline-block;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
  }
    .active {
      background: #6ba9a8;
      color: white;
    }

  .nav-header {
    @include flex(row, center);
    @include mediaQueries(header);
    margin: 0rem;
    color: white;
    font-size: $font-size-paragraph;

    img {
      width: 32rem;
    }
  }


 