.project-board {
    @include mediaQueries(grid);
    z-index: 1;
    margin: 4rem 0rem 4rem 0rem;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.project-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    min-height: 22rem;
  }
  
  /* This container is needed to position the front and back side */
  .project-card-inner {
    @include flex(column, space-between);
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    img {
      opacity: .8;
    }
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .project-card:hover .project-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .project-card-front, .project-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .project-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .project-card-back {
    background-color: rgba(176, 175, 175, 0.529);
    color: white;
    transform: rotateY(180deg);

    h3 {
        font-size: 2rem;
        margin: 1rem;
    }

    p {
        margin: 1rem 3rem 1rem 3rem;
    }
  }
  
  .project-links {
      @include flex(row, space-between);
      align-self: flex-end;

      margin: 0rem 5rem 0rem 5rem;

    img {
        height: 2.5rem;
        width: 2.5rem;
    }
  }

