/* ==========================================================================
  Elements - Landmarks
========================================================================== */

  html {
    background: $background;
    width: 100vw;
    height: 100vh;
  }

  body {
    width: 100%;
    height: 100%;
    background-color: $background;
    min-height: 100vh;

  }
  
  header {
    @include flex(row, between);
  }
  
  main {
    @include flex(column, center);
  }
  
  article {
    @include flex(column, around);
    border-radius: 10px;
  }

  
  button {
    @include flex(column, center);
    transition: 500ms;
    border: $dark-grey 1px solid;
    border-radius: 3px;
    padding: 0.1rem 0.5rem;
    font-family: $ff-secondary;
    color: $teal;
    &:hover {
      transition: 500ms;
      background: $dark-grey;
      border: $light 1.5px solid;
      text-shadow: 0 0 1.5px $light;
      color: $light;
    }
  }
  
  a {
    color: $dark;
    font-family: $ff-secondary;
  }

  h1 {
    font-family: $ff-secondary;
    font-size: $font-size-heading;
    color: $light;
    text-align: center;
  }

  h2 {
    font-family: $ff-primary;
    font-size: $font-size-heading;
    padding: 0;
    text-align: center;
  }

  h3 {
    font-family: $ff-primary;
    font-size: $font-size-subheading;
    text-align: center;
    color: $light;
  }

  p {
    font-family: $ff-secondary;
    font-size: $font-size-paragraph;
  }

  