/* ==========================================================================
  Elements - Landmarks
========================================================================== */

  html {
    background: black;
    width: 100vw;
    height: 100vh;
  }

  body {
    width: 100%;
    height: 100%;
    background-color: black;
    min-height: 100vh;

  }
  
  header {
    @include flex(row, between);
  }
  
  main {
    @include flex(column, center);
  }
  
  article {
    @include flex(column, around);
    border-radius: 10px;
  }
  
  form {
    @include flex(column, space);
  }
  
  button {
    @include flex(column, center);
    transition: 500ms;
    border: $color-secondary 1.5px solid;
    border-radius: 3px;
    padding: 0.1rem 0.5rem;
    font-family: $ff-secondary;
    color: $color-secondary;
    &:hover {
      transition: 500ms;
      border: $color-light 1.5px solid;
      text-shadow: 0 0 1.5px $color-light;
      color: $color-primary;
    }
  }
  
  a {
    color: $color-dark;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    font-size: $fs-defaults;
    font-weight: $fw-defaults;
    font-style: $ff-defaults;
  }
  