/* ==========================================================================
  Base - Grid
  ========================================================================== */

  @mixin grid($viewport) {
	display: grid;
	justify-items: center;
	@if $viewport==mobile {
		grid-template-columns: repeat(1, 1fr);
	} @else if $viewport==tablet {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 10px;
	} @else if $viewport==desktop {
		grid-template-columns: repeat(4, 1fr);
	}
}