/* ==========================================================================
Base - Media Queries
========================================================================== */

/* ===  Trigger === */
@mixin mediaQueries($property) {
    @include mobile($property);
    @include tablet($property);
    @include desktop($property);
  }
  
  /* === Mobile === */
  @mixin mobile($property) {
    @media only screen and (min-width: 250px) {
      @content;
      transition: 100ms;
      @if $property==grid {
        @include grid(mobile);
      } @else if $property==about {
        @include flex(column-reverse, center);
      } @else if $property==nav {
        @include flex(column, flex-end);
      } @else if $property==header {
        margin: 2.5rem 0rem -1rem 0rem;
      } @else if $property==tech {
        @include flex(column, center);
      } 
      
    }
  }
  
  /* === Tablet === */
  @mixin tablet($property) {
    @media only screen and (min-width: 768px) {
      @content;
      transition: 100ms;
      @if $property==grid {
        @include grid(tablet);
      } @else if $property==about {
        @include flex(row, center, flex-start);
      } @else if $property==nav {
        @include flex(row, flex-end);
      } @else if $property==header {
        margin: 0rem;
      } @else if $property==tech {
        @include flex(column, center);
      } 
    }
  }
  
  /* === Desktop === */
  @mixin desktop($property) {
    @media only screen and (min-width: 1024px) {
      @content;
      transition: 100ms;
      @if $property==grid {
        @include grid(desktop);
      } @else if $property==about {
        @include flex(row, center, flex-start);
      } @else if $property==nav {
        @include flex(row, flex-end);
      } @else if $property==header {
        margin: 0rem;
      } @else if $property==tech {
        @include flex(row, center);
      } 
    }
  }

